.btn {
   padding: 16px 24px;
   background: #55b553;
   border-radius: 10px;
   cursor: pointer;
   transition: 0.3s;
   font-size: 18px;
   color: #fff;
   text-transform: uppercase;
   border: 0px;

   &:hover {
      background: #489b46;
   }

   &:active {
      background: #55b553;
      transition: 0s;
   }
}
