* {
   box-sizing: border-box;
   font-family: "Wizland", sans-serif;

   &,
   &::before,
   &::after {
      margin: 0;
      padding: 0;
   }
}

html {
   scroll-behavior: smooth;
}

ul,
ol {
   list-style-type: none;
}

a {
   text-decoration: none;
}

img,
svg,
picture,
video {
   display: block;
}
